mat-card.card-override {
  border: 3px solid indigo;
  border-radius: 10px;
}

mat-card-header.header-override {
  border-bottom: 2px solid indigo;
}

.scrollable-list {
  overflow: auto;
}

.mat-other {
  color: black;
}

.mat-self {
  color: red;
}
