<div *ngIf="error$ | async as error" style="color: darkred">
  {{error}}
</div>
<!--
<div *ngIf="!socketId" style="color: darkred">
  You are not connected!
</div>
-->
<div fxLayout="row" fxFlex *ngIf="chatClient" style="padding: 20px" fxLayoutGap="10px">
  <div fxLayout="column" fxFlex="30">
    <mat-card fxFlex *ngIf="clients$ | async as clients" class="card-override">
      <mat-card-header class="header-override">
        <h2>{{clients.length}}
          <span *ngIf="clients.length === 1">client</span>
          <span *ngIf="clients.length > 1">clients</span>:</h2>
      </mat-card-header>
      <mat-card-content style="padding-top: 10px">
        <mat-list fxFlex class="scrollable-list">
          <mat-list-item *ngFor="let client of clients">
            <img matListAvatar src="https://www.w3schools.com/howto/img_avatar.png" style="border-radius: 50%" alt="avatar">
            <mat-line style="margin-left: 10px">{{client.name}}</mat-line>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="70">
    <mat-card fxFlex fxLayout="column" class="card-override">
      <mat-card-header class="header-override"><h2>Hello {{chatClient.name}}</h2></mat-card-header>
      <mat-card-content fxFlex fxLayout="column" style="padding-top: 10px">
        <mat-list fxFlex class="scrollable-list">
          <mat-list-item *ngFor="let message of messages">
            <img matListAvatar src="https://www.w3schools.com/howto/img_avatar.png" style="border-radius: 50%" alt="avatar">
            <div mat-line class="primary-color">{{message.timestamp | date: 'h:mm'}} | {{message.sender}}:</div>
            <div mat-line [ngClass]="(chatClient.name === message.sender) ? 'mat-self' : 'mat-other'">{{message.message}}</div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions fxFlex="60px">
        <mat-form-field fxFlex>
          <mat-label>Enter message</mat-label>
          <input matInput type="text" [formControl]="messageFormControl">
          <button mat-button matSuffix mat-icon-button (click)="sendMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-actions>
      <mar-card-footer fxFlex="30px" style="padding-left: 30px">
        <span
          *ngIf="clientsTyping.length > 0"
          class="primary-color"
          style="font-size: 15px">
    <span
      *ngFor="let client of clientsTyping; let i = index">
      {{client.name}}
      <span *ngIf="clientsTyping.length - 1 > i && i < clientsTyping.length-2">, </span>
      <span *ngIf="clientsTyping.length > 1 && i === clientsTyping.length-2"> and </span>
    </span>
          <span *ngIf="clientsTyping.length === 1"> is typing</span>
          <span *ngIf="clientsTyping.length > 1"> are typing</span>
        </span>
      </mar-card-footer>
    </mat-card>
  </div>
</div>

<div *ngIf="!chatClient" fxLayout="row" fxFlex fxLayoutAlign="center center">
  <mat-card fxFlex="30" class="card-override">
    <mat-card-header fxLayoutAlign="center top">
      <mat-card-title><h2>Welcome to chat</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field fxFlex>
        <mat-label>Enter name</mat-label>
        <input matInput type="text" [formControl]="nameFormControl">
        <button mat-button matSuffix mat-icon-button (click)="sendName()">
          <mat-icon>login</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>



