<div fxLayout="column" fxFill>
<div fxLayout="row" fxLayoutGap="5px" style="padding-left: 20px">
<a routerLink="/">Home</a>
  <span>----</span>
  <span>
    <a routerLink="/chats">Chats</a>
  </span>
  <span *ngIf="onlineClients > 0">
     ({{onlineClients}} online)
  </span>
  <span *ngIf="newMessages === 1" style="color: darkred">
     1 new message!
  </span>
  <span *ngIf="newMessages > 1" style="color: darkred">
     {{newMessages}} new messages!
  </span>
</div>
<router-outlet class="router-flex"></router-outlet>
</div>
